<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true" *ngIf="subCategory">
  <div class="min-h-screen bg-black pb-32">
    <div class="container mx-auto py-14">
      <div>
        <h1 class="tracking-widest font-bold text-5xl text-or mb-5 uppercase pt-10">{{subCategory.title}}</h1>
        <hr class="border border-or my-3 mb-8">
        <div class="flex justify-start w-full mb-8" *ngIf="subCategory.sound">
          <audio controls [src]="subCategory.sound"></audio>
        </div>
        <div class="text-white text-lg" [innerHTML]="subCategory.description"></div>
      </div>
      <div class="flex flex-wrap justify-center container mx-auto">
        <a *ngFor="let product of products; let i = index" (click)="loadProduct(product.id)"
          class="cursor-pointer w-full lg:w-1/4 text-center flex flex-col items-center hover:bg-or hover:text-white  group transition duration-500 ease-in-out">
          <p class="text-3xl font-serif lg:text-6xl px-2 text-or group-hover:text-white">{{ i+1 }}</p>
          <p class="text-xs lg:text-xl uppercase mt-1 mb-3 text-white group-hover:text-white">{{ product.title }}</p>
        </a>
      </div>
    </div>
    <div class="fixed top-0 left-0 z-50 cursor-pointer">
      <div class="bg-black h-8 w-10 flex justify-center items-center text-white" (click)="menu.presentModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <div class="bg-black h-8 w-10 flex justify-center items-center text-white">
        <ion-back-button class="text-2xl" defaultHref="/home">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </ion-back-button>
      </div>
    </div>
    <div class="fixed top-0 right-0 z-50 cursor-pointer" [routerLink]="['/home']">
      <div class="bg-black h-8 w-10 flex justify-center items-center text-white">
        <div class="bg-black h-8 w-10 flex justify-center items-center text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</ion-content>