<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true" *ngIf="partner">
  <div class="min-h-screen bg-{{ settings['secondaryColor'] }}">
    <div class="container mx-auto py-14">
      <div>
        <div class="flex items-center pt-10 mb-5">
          <h1 class="tracking-widest font-bold text-5xl text-white uppercase ">{{ partner.title }}</h1>
        </div>
        <hr class="border border-or my-3 mb-8">
        <div class="flex justify-start w-full mb-8" *ngIf="partner.sound">
          <audio controls [src]="partner.sound"></audio>
        </div>
        <div class="text-white text-lg" [innerHTML]="partner.description"></div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        <a *ngFor="let res of partnerResources" class="flex justify-center items-center mt-5">
          <img [src]="res.link" class="w-auto h-64 object-cover" alt="">
        </a>
      </div>
    </div>
    <div class="fixed top-0 left-0 z-50 cursor-pointer">
      <div class="bg-{{ settings['secondaryColor'] }} h-8 w-10 flex justify-center items-center text-white" (click)="menu.presentModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <div class="bg-{{ settings['secondaryColor'] }} h-8 w-10 flex justify-center items-center text-white">
        <ion-back-button class="text-2xl" defaultHref="/home">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </ion-back-button>
      </div>
    </div>
    <div class="fixed top-0 right-0 z-50 cursor-pointer" [routerLink]="['/home']">
      <div class="bg-{{ settings['secondaryColor'] }} h-8 w-10 flex justify-center items-center text-white">
        <div class="bg-{{ settings['secondaryColor'] }} h-8 w-10 flex justify-center items-center text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</ion-content>